@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    //--background: 0 0% 100%;
    --background: 210 16.7% 97.6%;
    --foreground: 224 71.4% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 242 100% 72%;
    --primary-foreground: 210 20% 98%;
    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220.9 39.3% 11%;
    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9%40.1%;
    --accent: 220 14.3% 95.9%;
    --accent-foreground: 220.9 39.3% 11%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 262.1 83.3% 57.8%;
    --radius: 0.4rem;
  }

  .dark {
    --background: 0 0% 11%;
    --foreground: 0 0% 92.9%;
    --foreground-lighter: 0deg 0% 49.4%;
    --card: 0 0% 13.7%;
    --card-foreground: 0 0% 92.9%;
    --popover: 0 0% 13.7%;
    --popover-foreground: 0 0% 92.9%;
    --primary: 242 100% 72%;
    --primary-foreground: 0 0% 92.9%;
    --secondary: 240 4% 10%;
    --secondary-foreground: 0 0% 92.9%;
    --muted: 240 4% 10%;
    --muted-foreground: 0 0% 72.9%;
    --accent: 240 4% 10%;
    --accent-foreground: 0 0% 92.9%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 92.9%;
    --border: 0 0% 18%;
    --input: 0 0% 18%;
    --ring: 263.4 70% 50.4%;
  }
  * {
    @apply border-border;
    margin: 0;
    padding: 0;
  }
  body {
    @apply bg-background text-foreground;
    font-family: "Inter", sans-serif;
  }

  ::-webkit-scrollbar {
    @apply w-1 h-1 bg-foreground;
  }
  ::-webkit-scrollbar-track {
    @apply bg-background w-1;
  }
  ::-webkit-scrollbar-thumb {
    @apply rounded-md bg-foreground/20 /*color trackbar*/;
  }
}

@media print {
  body {
    margin: 0; /* Reset body margin for printing */
  }
}

.active {
  @apply text-primary transition-all duration-300;
}
